@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin:0;
  padding: 0;
  outline:none;
  border: none;
  text-decoration: none;
  box-sizing: border-box; 
  font-family: "Poppins , sans-serif";
}
body{
    background-color: #dfe9f5;
}
nav{
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    background: white;
    width:90px;
    overflow: hidden;
    transition:width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
 a{
    position: relative;
    color:rgb(235, 70, 70);
    font-size: 14px;
    display:flex;
    width:300px;
    padding: 10px;
}
i{
    position: relative;
    width:70px;
    height: 60px;
    top:14px;
    font-size: 22px;
    text-align: center;

}
.nav-items{
    position: relative;
    top:16px;
    margin-left: 10px;
}
a:hover{
    background: #eee;

}
nav:hover{
    width:250px;
    transition: all 0.5s ease;
}
.logout{
position: absolute;
bottom: 0;
}

